In [1]:
import pandas as pd

In [2]:
A = pd.Series(['a','b','c'], index=[1,2,3])

In [3]:
A[1:3]

2    b
3    c
dtype: object

In [4]:
A.loc[1:3]

1    a
2    b
3    c
dtype: object

In [5]:
A.iloc[1:3] #implicit

2    b
3    c
dtype: object

In [6]:
grades_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5}

In [7]:
grades = pd.Series(grades_dict)

In [8]:
puans_dict = {'A':90, 'B':80, 'C':70, 'D':60}

In [9]:
puan = pd.Series(puans_dict)

In [10]:
dFrame = pd.DataFrame({'Marks':puan, 'Grades':grades})

In [11]:
dFrame

   Marks  Grades
A     90     4.0
B     80     3.5
C     70     3.0
D     60     2.5

In [12]:
dFrame.iloc[2,:]

Marks     70.0
Grades     3.0
Name: C, dtype: float64

In [13]:
dFrame.iloc[1,:]

Marks     80.0
Grades     3.5
Name: B, dtype: float64

In [14]:
dFrame.iloc[::-1,:] #reversing

   Marks  Grades
D     60     2.5
C     70     3.0
B     80     3.5
A     90     4.0